.slots-intro {
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

.slots-container {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.level-container > label {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
}

.level-container > input {
  font-size: 1.2rem;
  padding: .2rem;
  border-radius: .3rem;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
}

.submit-spells {
  border: 2px solid white;
  border-radius: .4rem;
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  padding: .5rem;
  margin: 1.5rem;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
  text-shadow: 0px 0px 5px black;
  transition-duration: .3s;
}

.submit-spells:hover {
  background-color: #A37B18;
}

.stuck-prompt {
  text-align: center;
}

.stuck-link:visited,
.stuck-link:link {
  color: goldenrod;
}


@media screen and (max-width: 480px) {
  .slots-container {
    width: 95%;
  }

  .level-container>label {
    font-size: 1.2rem;
  }
}