.spellbook-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .spellbook-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .spellbook-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}