.redo {
  border: 2px solid white;
  border-radius: .4rem;
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  margin: 1.5rem;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
  text-shadow: 0px 0px 5px black;
  transition-duration: .3s;
}

.redo:hover {
  background-color: #A37B18;
}

.todays-ammo, .cantrips {
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

.cantrips {
  margin: 0;
  margin-top: -1rem;
  font-size: .9rem;
}

.ammo-wrapper {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ammo-label {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
  margin-bottom: 0;
}

.ammo-p {
  font-family: 'Bungee', cursive;
  font-size: 4rem;
  font-weight: bold;
  margin: .5rem;
  color: #F9D03F;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #7C1F33;
  text-shadow: 0px 5px 3px black;
}

.cast-spell {
  border: 2px solid white;
  border-radius: .2rem;
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  padding: .3rem;
  align-self: center;
  cursor: pointer;
  text-shadow: 0px 0px 3px black;
  box-shadow: 3px 3px 3px black;
  transition-duration: .3s;
}

.cast-spell:hover {
  background-color: #A37B18;
}