.redo {
  border: 2px solid white;
  border-radius: .4rem;
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  margin: 1.5rem;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
}

.redo:hover {
  background-color: #A37B18;
}

.todays-ammo {
  text-align: center;
}

.ammo-wrapper {
  display: flex;
  justify-content: space-around;
}

.level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ammo-p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  color: #F9D03F;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #7D691F;
  text-shadow: 0px 0px 10px black;
}