.select-form {
  border: 3px solid white;
  border-radius: .5rem;
  width: 25rem;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 5px black;
}

.select-container {
  display: flex;
  justify-content: center;
}

.your-spellbook, .spell-note {
  text-align: center;
}

.spell-note {
  font-size: .8rem;
  margin: 0;
}

.error-wrapper {
  text-align: center;
}

.spellbook-wrapper {
  display: flex;
  justify-content: space-evenly;
}
