.select-container {
  display: flex;
  justify-content: center;
}

.your-spellbook, .spell-note {
  text-align: center;
}

.spell-note {
  font-size: .8rem;
  margin: 0;
}

.error-wrapper {
  text-align: center;
}

.spellbook-wrapper {
  display: flex;
  justify-content: space-evenly;
}
